<ul class="sidebar navbar-nav bg-dark">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fa fa-fw fa-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="StoresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-folder"></i>
          <span>
            Accounts
            <i class="float-right fa fa-angle-down"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="StoresDropdown">
          <h6 class="dropdown-header">Customers</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductModal"> <i class="fa fa-plus"></i> Add Customer</a>
          <a class="dropdown-item" href="products.html"> <i class="fa fa-tags"></i> All Customers</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Supplyrs</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTypeModal"> <i class="fa fa-plus"></i> Add Supplyr</a>
          <a class="dropdown-item" href="product-types.html"> <i class="fa fa-tags"></i> All Supplyrs</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="StoresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-folder"></i>
          <span>
            Stacking
            <i class="float-right fa fa-angle-down"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="StoresDropdown">
          <h6 class="dropdown-header">Stores</h6>
          <a class="dropdown-item" href="Stocked" data-toggle="modal" data-target="#addProductModal"> <i class="fa fa-plus"></i> Add Store</a>
          <a class="dropdown-item" href="products.html"> <i class="fa fa-tags"></i> All Store</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Categories</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTypeModal"> <i class="fa fa-plus"></i> Add Category</a>
          <a class="dropdown-item" href="product-types.html"> <i class="fa fa-tags"></i> All Categories</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Units &amp; Units</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductVendorModal"> <i class="fa fa-user"></i> Add Unit</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductBrandModal"> <i class="fa fa-industry"></i> All Unit</a>
          <h6 class="dropdown-header">Products</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductVendorModal"> <i class="fa fa-user"></i> Add Product</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductBrandModal"> <i class="fa fa-industry"></i> All Products</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" data-toggle="modal" data-target="#addSaleModal">
          <i class="fa fa-fw fa-plus"></i>
          <span>New Sale</span></a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-bar-chart"></i>
        <span>return Sales</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" data-toggle="modal" data-target="#addSaleModal">
          <i class="fa fa-fw fa-plus"></i>
          <span>New purchase</span></a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-bar-chart"></i>
        <span>return purchase</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-folder"></i>
        <span>
          Reports
          <i class="float-right fa fa-angle-down"></i>
        </span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Bills</h6>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductModal"> <i class="fa fa-fw fa-tags"></i> Sales reports</a>
        <a class="dropdown-item" href="products.html"> <i class="fa fa-fw fa-tags"></i> Purchase reports</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Stacking</h6>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTypeModal"> <i class="fa fa-fw fa-industry"></i>Products report</a>
        <a class="dropdown-item" href="product-types.html"> <i class="fa fa-fw fa-industry"></i>Product move</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Accounts</h6>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductVendorModal"> <i class="fa fa-user"></i>Customers</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductBrandModal"> <i class="fa fa-industry"></i> Supplyrs</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="history.html">
        <i class="fa fa-fw fa-calendar"></i>
        <span>History</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="export-record.html">
        <i class="fa fa-fw fa-external-link"></i>
        <span>Export Record</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="general-settings.html">
        <i class="fa fa-fw fa-cogs"></i>
        <span>General Settings</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="help.html">
        <i class="fa fa-fw fa-life-ring"></i>
        <span>Help</span></a>
    </li>
</ul>