<ul class="sidebar navbar-nav bg-dark">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'Home' %}">
        <i class="fa fa-fw fa-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="StoresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-folder"></i>
          <span>
            Accounts
            <i class="float-right fa fa-angle-down"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="StoresDropdown">
          <h6 class="dropdown-header">Customers</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductModal"> <i class="fa fa-plus"></i> Add Customer</a>
          <a class="dropdown-item" href="products.html"> <i class="fa fa-tags"></i> All Customers</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Supplyrs</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTypeModal"> <i class="fa fa-plus"></i> Add Supplyr</a>
          <a class="dropdown-item" href="product-types.html"> <i class="fa fa-tags"></i> All Supplyrs</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="StoresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-folder"></i>
          <span>
            Stocking
            <i class="float-right fa fa-angle-down"></i>
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="StoresDropdown">
          <h6 class="dropdown-header">Stores</h6>
          <a class="dropdown-item" href="Stocked" data-toggle="modal" data-target="#NewStoreModal"> <i class="fa fa-plus"></i> Add Store</a>
          <a class="dropdown-item" href="{% url 'Stores' %}"> <i class="fa fa-tags"></i> All Store</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Categories</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#NewCategoryModal"> <i class="fa fa-plus"></i> Add Category</a>
          <a class="dropdown-item" href="{% url 'Categories' %}"> <i class="fa fa-tags"></i> All Categories</a>
          <a class="dropdown-item" href="{% url 'Brands' %}"> <i class="fa fa-tags"></i> Brands</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Units &amp; Units</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#NewUnitModal"> <i class="fa fa-plus"></i> Add Unit</a>
          <a class="dropdown-item" href="{% url 'Units' %}"> <i class="fa fa-tags"></i> All Units</a>
          <h6 class="dropdown-header">Products</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#NewProductModal"> <i class="fa fa-user"></i> Add Product</a>
          <a class="dropdown-item" href="{% url 'Products' %}"> <i class="fa fa-tags"></i> All Products</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-cogs"></i>
        <span>General Settings</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-life-ring"></i>
        <span>Help</span></a>
    </li>
</ul>