<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head.html' %}
<body>
    {% include 'includes/header.html' %}

    <div id="wrapper">
        <!-- Sidebar -->
        {% include 'includes/sidebar.html' %}

        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    {% for path in Breadcrumbs %}
                        <li class="breadcrumb-item active">{{path}}</li>
                    {% endfor %}
                </ol>
                <div class="card mb-3">
                    {% if template != '' %}
                        <div class="card-header bg-primary text-white">
                            <i class="fa fa-table"></i>
                            {{template}}
                            {% url 'Stocked:create' template as the_url %}
                            <a href="{{the_url}}" class="text-white">
                            <span class="float-right">
                                <i class="fa fa-plus"></i>
                                Add New {{template}}
                            </span>
                            </a>
                        </div>
                    {% endif %}
                    {% block content %}
                        
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/dialog.html' %}
    
    {% include 'includes/scripts.html' %}
</body>
</html>