
<div class="card-body">
  <div class="table-responsive">
    {% if object_list %}
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>CID</th>
          <th>Category Name</th>
          <th>Category Brand</th>
          <th>Note</th>
          <th>Control</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>CID</th>
          <th>Category Name</th>
          <th>Category Brand</th>
          <th>Note</th>
          <th>Control</th>
      </tfoot>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{object.pk}}</td>
            <td>{{object.name}}</td>
            <td>{{object.brand}}</td>
            <td>{{object.note}}</td>
            <td>
              <div class="d-flex justify-content-around">
                <a class="btn btn-sm btn-outline-info" href="{% url 'Stocked:update' 'Categories' object.pk %}">update</a>
                <a class="btn btn-sm btn-outline-danger" href="{% url 'Stocked:delete' 'Categories' object.pk %}">delete</a>
              </div>
            </td>Categories
          </tr>
        {%  endfor %}
        </tbody>
      </table>
      {% else %}
        <p>No {{template}}!!!</p>
      {% endif %}
  </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>